@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap');

body {
  background-color: black;
  font-family: Quicksand;
  color: white;
}

h1{
  font-weight: 700;
}
h2{
  font-weight: 600;
}
h3{
  font-weight: 500;
}
h4{
  font-weight: 400;
}
p{
  font-weight: 300;
}

#subcontainer{
  width: 100vw;
  height: 100vh;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
  max-width: 771px;
}