<!DOCTYPE html>
<html>
    <head>
        <title>DENIED</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='resources/icon.png') }}">
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body onload="init()">
        <h1>Danarchy Access Denied</h1>
        <div class="denied">
            <p>
                This website is only accessible through the Hilliard Davidson Student wifi network. Please please reload the page once connected to this network. If you are currently on the network and are experiencing this error click the button below.
            </p>
        </div>
        <div onclick="reportmistake()" class="button hvr-grow">
            <p>I think this is a mistake and want to contact the developer</p>
        </div>
    </body>
</html>