<html>
    <head>
        <title>Denied</title>
         <!-- Overscroll ios -->
         <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

         <!-- header color ios -->
        <meta name="theme-color" content="#001AAC">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P1RQ9YW8KR"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-P1RQ9YW8KR');
        </script>
        <link rel="icon" href="https://cdn.realsport101.com/images/ncavvykf/epicstream/350743122ada19bf2654bdc6aa3f4bd36991ef78-760x400.png?rect=25,0,711,400&w=686&h=386&auto=format">
    </head>
    <body>
        <img src="https://c.tenor.com/P09NeLvVdXkAAAAC/no-smile.gif"/>
        <h1>You are not allowed to use this website buddy. Go somewhere else!</h1>
    </body>
</html>