<!DOCTYPE html>
<html>
    <head>
        <!-- Normal Tag Stuff -->
        <title>hdhs live</title>
        <meta charset="utf-8">
        <meta name="description" content="An anonymous social media network for davidson students." />
        <link rel="icon" href="{{ url_for('static', filename='resources/icon.png') }}">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- Javascript-->
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

        <!-- Overscroll ios -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- header color ios -->
        <meta name="theme-color" content="#001AAC">

        <!-- Roboto font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

        <!-- Metadata for embeds -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://127.0.0.1:5000/">
        <meta property="og:title" content="HDHS Live">
        <meta property="og:description" content="An anonymous social media network for davidson students.">
        <meta property="og:image" content="https://github.com/Yoyolick/hdhs.live/blob/main/src/dev/static/resources/icon.png?raw=true">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-P1RQ9YW8KR"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-P1RQ9YW8KR');
        </script>
    </head>
    <body>
    </body>
</html>