<!DOCTYPE html>
<html>
    <head>
        <title>Danarchy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='resources/icon.png') }}">
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body onload="init()">
        <h1>Danarchy</h1>
        <div id="container">
            <div class="post">
                <div class="p_header">
                    <img class="icon spaced" src="{{url_for('static', filename='resources/user.png')}}"/>
                    <p>USERNAME</p>
                    <p class="ID">POST ID</p>
                    <p class="ID">STAMP</p>
                </div>
                <p class="spaced">POST CONTENT LOL LOL LOL WWWWW WWWWWWWW WWWWWWW WWW WWWW WWWW WWWW BOZO</p>
                <div class="p_footer">
                    <!--
                        <img class="heart" src="{{url_for('static', filename='resources/heart.png')}}"/>
                    -->
                    <p class="spaced">LIKES</p>
                    <p class="spaced"><b>Click For Comments</b></p>
                </div>
            </div>
        </div>
    </body>
</html>